// Main Colour
$LIGHTbgColour: #fff;
$DARKbgColour: #000;
$accentColour: #c0f3fe;

// Header Colours (also uses $accentColour)
$headerTextColour: #000;

// Navigation Colours
$navColour: #000;
$navHoverColour: #fff;

// Text Colour
$LIGHTtextColour: #000;
$LIGHTlinkColour: #000;
$LIGHTlinkHoverColour: #c0f3fe;
$DARKtextColour: #fff;
$DARKlinkColour: #fff;
$DARKlinkHoverColour: #c0f3fe;
$LIGHTnewsLinkColour: #c0f3fe;
$DARKnewsLinkColour: #c0f3fe;

// Typography & Misc.
$font: 'Inter', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-italic: italic;
$breakColour: #fff;

// Switch this to whatever font you need, local or remote
@import url('https://rsms.me/inter/inter.css');
